.section-header {
    
    @media screen and (min-width: 769px) {
        padding: 100px 0 60px;
    }

    @media screen and (max-width: 768px) {
        padding: 80px 0 50px;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 80px;
    margin: 0 auto;

    .section-header__line {
        align-self: center;
        width: 100%;
        height: 2px;
        background-color: $gold;    
    }

    .section-header__header {

        @media screen and (min-width: 769px) {
            font: $header-font;
        }

        @media screen and (max-width: 768px) {
            font: $header-font-768;
        }

        align-self: center;
        padding: 20px;
        text-align: center;
        color: $gold;
    }
}