@media screen and (max-width: 540px) {
    .hero {
        .hero__info {
            width: 100%;
            padding: 0;

            .hero__name {
                text-align: center;
            }

            .hero__quote {
                width: 100%;
                text-align: center;
            }

            .hero__hire {
                position: relative;
                left: calc(50% - 110px);
            }
        }
    }

    .skills {
        .skill-list {
            grid: 1fr 1fr 1fr 1fr / 1fr;

            .skill-list__item {
                width: 100%;
            }
        }
    }

    .portfolio {
        .portfolio-panel {
            grid: 1fr 1fr 1fr 1fr / 1fr;
            width: 100%;
        }

        .portfolio-photos {
            .portfolio-photos__img {
                width: 100%;
            }
        }
    }

    .price {
        .price-list {
            .price-list__item {
                width: 100%;
            }
        }
    }

    .contacts {
        .contacts-form {
            left: 0;
            width: 100%;
        }
    }
}
